In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
productos = pd.read_csv('producto_tabla.csv')

In [3]:
productos.describe(include="all")

         Producto_ID                             NombreProducto
count    2592.000000                                       2592
unique           NaN                                       2592
top              NaN  Tostada Ond Tubo 30p 360g Prom CU MR 4773
freq             NaN                                          1
mean    32591.095679                                        NaN
std     13004.091024                                        NaN
min         0.000000                                        NaN
25%     31515.500000                                        NaN
50%     35224.000000                                        NaN
75%     40447.250000                                        NaN
max     49997.000000                                        NaN

In [4]:
productos.head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72