Lets use this table, take first Agencia_ID and group by Town and State. Remember to replace deleted Agencia_ID in train table. After wards reduce lines inside train. Sum rest of columns and Ignore Client_Id. Comenzemos por analizar por semana (ya tenemos ese dato). Y de ahi podemos entrenar al sistema y ver las variaciones por zona basado en semanas anteriores y ver si comportamiento.

In [5]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
town = pd.read_csv('town_state.csv')

In [3]:
town.describe(include="all")

          Agencia_ID                     Town             State
count     790.000000                      790               790
unique           NaN                      260                33
top              NaN  2013 AG. MEGA NAUCALPAN  ESTADO DE MÉXICO
freq             NaN                        8                71
mean     8531.505063                      NaN               NaN
std      9908.708738                      NaN               NaN
min      1110.000000                      NaN               NaN
25%      1513.500000                      NaN               NaN
50%      2063.500000                      NaN               NaN
75%     21616.500000                      NaN               NaN
max     25769.000000                      NaN               NaN

In [4]:
town.head(20)

    Agencia_ID                     Town             State
0         1110       2008 AG. LAGO FILT      MÉXICO, D.F.
1         1111    2002 AG. AZCAPOTZALCO      MÉXICO, D.F.
2         1112      2004 AG. CUAUTITLAN  ESTADO DE MÉXICO
3         1113       2008 AG. LAGO FILT      MÉXICO, D.F.
4         1114     2029 AG.IZTAPALAPA 2      MÉXICO, D.F.
5         1116     2011 AG. SAN ANTONIO      MÉXICO, D.F.
6         1117        2001 AG. ATIZAPAN  ESTADO DE MÉXICO
7         1118        2007 AG. LA VILLA      MÉXICO, D.F.
8         1119  2013 AG. MEGA NAUCALPAN  ESTADO DE MÉXICO
9         1120    2018 AG. TEPALCATES 2      MÉXICO, D.F.
10        1121     2016 AG. SAN LORENZO      MÉXICO, D.F.
11        1122        2019 AG. XALOSTOC  ESTADO DE MÉXICO
12        1123           2094 CHALCO_BM  ESTADO DE MÉXICO
13        1124    2021 AG. XOCHIMILCO 2      MÉXICO, D.F.
14        1126     2017 AG. SANTA CLARA  ESTADO DE MÉXICO
15        1127        2003 AG. COACALCO  ESTADO DE MÉXICO
16        1129     2011 AG. SAN ANTONIO      MÉXICO, D.F.
17        1130       2010 AG. LOS REYES  ESTADO DE MÉXICO
18        1137            2014 AG. NEZA  ESTADO DE MÉXICO
19        1138      2015 AG. ROJO GOMEZ      MÉXICO, D.F.